<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dci.horarios.backup.incremental</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/REEMPLAZAR/RUTA/scripts/backups/scripts/horarios-backup-incremental.sh</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/REEMPLAZAR/RUTA/logs/backup-incremental.log</string>
  <key>StandardErrorPath</key>
  <string>/REEMPLAZAR/RUTA/logs/backup-incremental-error.log</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
